*{
    padding: 0;
    margin: 0;
    border: none;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{
    width: 150px;
    height: 40px;
    background-color: rgb(222, 10, 120);
    color: aliceblue;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.curso{
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;

}

.c1{
    background-color: white;
    color:rgb(222, 10, 120);
}

.caixa{
    border: 4px solid rgb(151,133,151);
    background-color: darkgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
}

.selecao{
    background-color: purple !important;
    color: #ffc !important;
    font-weight: bold;
}